:root {
  --root-font: 12px;
}
body {
  margin: 0 auto;
  font-size: 12px;
}
a {
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  color: black;
  height: 100%;
  font-size: 1.2rem;
  display: block;
}
.header {
  background-color: transparent;
  height: 50px;
}
.navbar {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
  width: 40%;
  top: 20px;
  margin-top: 50px;
}
.navbar ul li {
  list-style: none;
  padding: 3px 5px 1px 5px;
  background-color: transparent;
}

.navbar ul li:hover {
  border-bottom: 2px solid skyblue;
}

.menu-btn {
  float: right;
  top: 5px;
  right: 5px;
  position: absolute;
  padding: 3px;
  margin: 2px;
  background-color: transparent;
  border: 1.2px solid black;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
}

.menu-btn:hover {
    background-color: black;
    color: white;
}

@media only screen and (min-width: 600px) {
  .menu-btn {
    display: none;
  }

  .navbar {
    display: flex;
    width: 80%;
  }

  .navbar ul {
    display: flex;
    margin: 0 auto;
  }
  .navbar ul li {
    margin: 0;
  }
}
